# fly.toml app configuration file generated for whoop-it-good on 2026-02-28T16:54:31Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'whoop-it-good'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
